@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

body {
  margin: 0;
  font-family: "MedievalSharp", cursive;
}

:root {
  --primary-color: #8a754c;
  --text-color: black;
  --width-break: 600px;
}

nav {
  background-color: var(--primary-color);
  padding: 2rem;
  display: block;
}

nav div {
  color: white;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

main textarea {
  margin: auto;
  margin-top: 2rem;
}

textarea {
  display: block;
  height: 20vh;
  width: 45%;
  font-size: x-large;
  font-style: italic;
}

main button {
  margin: auto;
  margin-top: 2rem;
}

button {
  display: block;
  border: none;
  background-color: var(--primary-color);
  padding: 1.5rem;
  color: white;
  font-family: inherit;
  font-size: large;
}

main div {
  margin: auto;
  margin-top: 1.5rem;
}

div {
  display: block;
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  font-size: large;
}

#translate-output {
  border: 1px solid var(--text-color);
  text-align: left;
  box-sizing: border-box;
  margin: auto;
  display: block;
  min-height: 10vh;
  max-height: 20vh;
  width: 45%;
  font-family: inherit;
  font-size: 1rem;
  overflow: scroll;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  bottom: 0;
  padding: 1rem;
}

footer p {
  max-width: var(--width-break);
  margin: auto;
}

p {
  color: white;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
